.navbar {
  background-color: #e6f0ff;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbarBrand {
  font-weight: bold;
  font-size: 1.4rem;
  color: #003366;
}

.navLinks {
  margin: 0 15px;
  text-decoration: none;
  color: #004d99;
  font-weight: bold;
}
.navLinksActive {
  margin: 0 15px;
  color: #267bcf;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.navLinksActiveLogo {
  margin: 0 15px;
  color: #267bcf;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
}

.navLinks:hover {
  color: #1d76ce;
  transition: ease 0.3s;
}
